<configuration>
    <property name="LOG_PATH" value="/u01/oracle/apps/bestool/logs" />

    <!-- Appender para consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
            <maxHistory>1</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </encoder>
    </appender>

    <!-- Appender de archivo rotativo -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/data-collector-rolling.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/data-collector-rolling.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Nivel global de logs -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING_FILE" />
    </root>

    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.hibernate.transaction" level="ERROR"/>
    <logger name="org.hibernate.type" level="ERROR"/>
    <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="ERROR"/>

</configuration>
